 <form [formGroup]="DialogueForm" class="schedule-form">
  <h2 class="schedule--form--header"> Create Schedule</h2>
  <div class="form-row">
     <div>
      <mat-form-field appearance="fill">
        <mat-label for="empId">EmpID:</mat-label>
        <input matInput type="text" id="empId" formControlName="empID" matTooltip="EMPID is of the type EMPXXXXX" matTooltipPosition="right">
       </mat-form-field>
     </div>
 
     <div>
       <mat-form-field appearance="fill">
         <mat-label for="name">Name:</mat-label>
         <input matInput type="text" id="name" formControlName="name">
       </mat-form-field>
     </div>
 
     <div>
       <mat-form-field appearance="fill">
         <mat-label for="jobRole">Job Role:</mat-label>
         <input matInput type="text" id="jobRole" formControlName="job_Role">
       </mat-form-field>
     </div>
  </div>
 
  <div class="form-row">
     <div>
       <mat-form-field appearance="fill">
         <mat-label for="shift">Shift:</mat-label>
         <input matInput type="text" id="shift" formControlName="shift">
       </mat-form-field>
     </div>
 
     <div>
       <mat-form-field appearance="fill">
         <mat-label for="location">Location:</mat-label>
         <input matInput type="text" id="location" formControlName="location">
       </mat-form-field>
     </div>
 
     <div>
       <mat-form-field appearance="fill">
         <mat-label for="date">Date:</mat-label>
         <input matInput type="date" id="date" formControlName="date">
       </mat-form-field>
     </div>
  </div>
 
  <div class="form-row">
     <div>
       <mat-form-field appearance="fill">
         <mat-label for="startTime">Start Time:</mat-label>
         <input matInput type="time" id="startTime" formControlName="start_Time">
       </mat-form-field>
     </div>
 
     <div>
       <mat-form-field appearance="fill">
         <mat-label for="endTime">End Time:</mat-label>
         <input matInput type="time" id="endTime" formControlName="end_Time">
       </mat-form-field>
     </div>
  </div>
 
  <div>
    <button class="schedule--form--button" mat-raised-button [disabled]="DialogueForm.invalid" (click)="onAdd()">Add</button>
  </div>
 </form>
 