
 .mat-raised{
     width: fit-content !important;
 }
 .content--main{
     width: 100%;
 }
 .ccaption{
     display: flex !important;
     justify-content: space-between !important;
 }
 
 .header--main{
     display: flex !important;
     justify-content: space-between !important;
 }