.flex-gap{
    display:flex !important;
    flex-direction: column !important;
    gap:27px !important;
}

.newprofile{
    width:400px;
    height: 450px;
}
.newprofile{
    display: flex !important;
    flex-direction: column;
    align-items: center !important;
}
.buttonclass{
    margin-top: 6px;
    display: flex;
   justify-content: space-between;
}
.username-help{
    display: flex !important;
    align-items: center !important;
    color: rgb(154, 164, 181);
    font-size: 13px !important;
}
.overlaypanel--header{
    height: 2px !important;
}
li{
    margin-bottom: 40px;
    width: 200px;
    height: 5px;
}
.overlaypanel{
    height: 2px !important;
}